{% extends "header-footer.html" %}
{% load static%}
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
{% block header %}{% endblock header %}
{% block footer %}{% endblock footer %}
{% block content %}
<body>
<div class="wrap">
    <h1>Восстановление пароля</h1>
     <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn_success" type="submit">Восстановить пароль</button>
    </form>
</div>
</body>
</html>
{% endblock content %}